---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Form from '../components/form.jsx';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="w-full h-screen flex flex-col items-center justify-center bg-grey-700 gap-x-2">
	<Form client:load/>	
	</div>
</Layout>
