---
//import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="w-full h-screen flex flex-col items-center justify-center bg-red-700 gap-x-2">
		<div id="swap" class="mb-4"></div>
		<form method="post" hx-post="http://localhost:8000/analyze" hx-target="#swap">
			<input name="url" placeholder="Enter URL" 
				class="w-80 h-[2rem] mx-auto bg-white rounded-lg"/>
			<button type="submit" class="bg-white rounded-lg p-2">Submit</button>
		</form>
	</div>
</Layout>
